@model IEnumerable<TaskManager.DataAccess.DataModels.UserBadges>

@{
    ViewData["Title"] = "SeeBadges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styling{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<p style="text-align: center;">Your score is: @ViewData["Score"]</p>
<div class="row" style="margin-top: 10%; overflow-x:auto;">
    <table class="table col-md-12">
        <caption>Badges</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="8" style="text-align: center; background-color: rgb(15, 64, 2); opacity: 0.6; color: white;"> Your badges</th>
            </tr>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Badge.Name)
                </th>
                <th scope="col">
                    Score
                </th>
            </tr>
        </thead>
        <tbody style="background-color: ghostwhite;">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Badge.BadgesId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Badge.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Badge.NecessaryScore)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td></td>
                    <td>You don't have badges...</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>
</div>

