@model IEnumerable<TaskManager.Models.ProjectTasks>

@{
    ViewData["Title"] = "See All Tasks";
    Layout = "~/Views/Shared/_Layout_After_Login.cshtml";
}
<link rel="stylesheet" href="~/css/dashboard.css" />
<div class="row" style="margin-top: 10%; overflow-x:auto;">
    <table class="table col-md-12">
        <caption>See all the tasks</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="9" style="text-align: center; background-color: rgb(15, 64, 2); opacity: 0.6; color: white;">
                    The tasks from the projects you work at
                </th>
            </tr>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Importance)
                </th>
                <th scope="col">
                    Due date
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody style="background-color: ghostwhite;">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td id="description_area">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProjectTasksId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>